.TextAreaAutosize {
  color: var(--primary-color);
  background: var(--input-bg);
  outline: none;
  padding: 4px;
  border: 0 solid var(--primary-color);
  border-radius: 8px;
  width: 100%;
}
.TextAreaAutosize.canEdit:focus {
  outline: 1px solid var(--primary-color);
}

/* .TextAreaAutosize.canEdit:hover {
  outline: 1px solid var(--primary-color);
} */

.readOnly {
  opacity: 0.9;
}
